<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="game.duckderby.yessiowa.org.duckderby3" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.yessiowa.duckderby.teamduck.game.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.yessiowa.duckderby.teamduck.game.Game"
            android:label="@string/title_activity_game" >
        </activity>
    </application>



    <!--<uses-permission android:name="android.permission.INTERNET" />-->

</manifest>
